{% extends 'customer/customer_layout.html' %}
{% load static %}
{% block page_title %}
  Customer Dashboard
{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/table.css' %}" />
{% endblock %}
{% block main_content %}
  <section class="about_section layout_padding-bottom">
    <div class="container">
      <h2 style="text-align: center" class="my-5">Customer Home Page</h2>
      <hr />

      <div class="col-lg-12 col-md-12">
        <div class="img-box">
          <img src="{% static 'img/customer_home_page.jpg' %}" style="height: ;" alt="" />
        </div>
      </div>
    </div>
  </section>

  <hr class="m-0 p-0" />

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-4">
          <h2 class="heading-section">Recent Bookings</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-wrap">
            <table class="table table-responsive-xl">
              <thead>
                <tr>
                  <th>Service</th>
                  <th>Service Man</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Contact</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% if appointments %}
                  {% for item in appointments %}
                    <tr class="alert" role="alert">
                      <td>{{ item.service.name }}</td>
                      <td class="d-flex align-items-center">
                        <div class="img" style="background-image: url('{{ item.employee.user.profile_pic.url }}');"></div>
                        <div class="pl-3 name">
                          <span>{{ item.employee.user.fullname }}</span>
                        </div>
                      </td>
                      <td>{{ item.date }}</td>
                      <td>{{ item.time }}</td>
                      <td>{{ item.employee.user.phone }}</td>
                      <td class="status">
                        <span class="
                        {% if item.status == 'Pending' %}
                            {{ 'waiting' }}
                          {% elif item.status == 'Approved' %}
                            {{ 'active' }}
                          {% elif item.status == 'Completed' %}
                            {{ 'completed' }}
                          {% elif item.status == 'Rejected' %}
                            {{ 'rejected' }}
                          {% endif %}
                        ">
                          {{ item.status }}
                        </span>
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td class="text-center" colspan="5">No Appointments</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>

            {% if view_more %}
              <div class="text-center">
                <a href="" class="btn btn-primary text-center w-25">View More</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
