{% extends 'components/layout.html' %}
{% block page_title %}
  About Us
{% endblock %}

{% block main_content %}
  <div class="mt-5"></div>
  <section class="about_section layout_padding-bottom">
    <div class="container">
      <h2 style="text-align: center" class="mb-5">ABOUT US</h2>

      <div class="col-lg-12 col-md-12">
        <div class="img-box">
          <img src="static/img/about-image.jpg" style="height: 500px;" alt="" />
        </div>
      </div>

      <div>
        <h2 style="text-align: center" class="my-5">We are Deco Home - A door to door service for your home</h2>

        <p class="content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, facere, temporibus nam doloremque nesciunt recusandae debitis et perspiciatis ratione eveniet soluta repellat expedita aspernatur quisquam sequi voluptate voluptas praesentium quasi id illo minus iure natus modi? Quisquam quidem corporis distinctio esse dolore natus nulla cum omnis dolorem quasi nesciunt molestias nam eveniet laborum ab, veniam enim impedit ullam illo, iusto soluta et quas iste! Deserunt soluta, officiis id ullam nulla aspernatur sapiente ducimus aut impedit molestiae consequatur iure, animi non adipisci dolore iusto omnis consectetur eveniet unde harum minima laudantium nostrum atque quae? Eos libero consequatur aperiam magnam, dolorum excepturi!</p>
      </div>

      <div class="row" id="founder">
        <div class="col-8 col-md-8 col-sm-12 mt-3">
          <div class="section-title">
            <h4 class="section_main_title text-warning"><strong>About Our Founder</strong></h4>
          </div>
          <div class="about-item mt-3">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum temporibus, unde, consequatur deleniti assumenda aliquid dicta dolorem quaerat, rerum magnam eaque eius cumque accusamus! In impedit eaque ipsa praesentium sunt quam aliquam obcaecati? Praesentium eum commodi provident beatae voluptate ut molestias numquam consequatur voluptatem, totam fuga facilis quae maiores incidunt dolor odio laboriosam cumque repudiandae atque..
              <br />
              <br />
              With best regards
              <br />
              <strong>Mukesh Mahato</strong>
              <br />
              Founder
            </p>
          </div>
        </div>
        <div class="col-4 mt-3 d-flex align-items-center">
          <div class="about-image-box">
            <img src="static/img/founder.jpg" alt="" />
          </div>
        </div>
      </div>

      <div class="goals">
        <div class="sec-title">
          <span class="title">Our Future Goal</span>
          <h2>We want to lead in Home Service</h2>
        </div>
        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non eius, doloremque odit laborum eaque tenetur accusantium consequuntur cum laboriosam perferendis eligendi culpa a quia nisi, ipsa dolor quam! Tempore, voluptate.</div>

        <div class="sec-title mt-4">
          <h2>Customer Satisfaction</h2>
        </div>
        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non eius, doloremque odit laborum eaque tenetur accusantium consequuntur cum laboriosam perferendis eligendi culpa a quia nisi, ipsa dolor quam! Tempore, voluptate.</div>
      </div>
    </div>
  </section>
{% endblock %}
