{% extends 'admin/layouts/main.html' %}
{% load static %}

{% block links %}
  <title>Services</title>
  <style>
    .form-section-container {
      max-width: calc(100% - 1rem);
      margin-left: 0.5rem;
    }
    
    .info-title {
      background-color: #20c997;
    }
    
    .main-content {
      font-size: 14px;
    }
    
    .table_option-menu {
      transform: rotate(90deg);
      cursor: pointer;
      height: 35px;
      vertical-align: middle;
    }
    
    .no_bg {
      background-color: transparent;
    }
    
    .no_outline {
      outline: none;
      border: none;
    }
    
    .table_action_options {
      display: none;
      position: absolute;
      background-color: #fff;
      top: 0;
      right: 90px;
      width: 125px;
      z-index: 1;
    }
    
    .table_option-menu.visible ~ .table_action_options {
      display: block;
    }
    
    button img {
      width: 24px;
      height: 20px;
    }
  </style>
{% endblock %}

{% block main_content %}
  {% include 'components/message.html' %}

  <main id="main" class="main">
    <div class="main-content" style="border:  0px solid red; font-size: 14px">
      <form class="row g-3 needs-validation" novalidate method="POST" enctype="multipart/form-data" action="{% url 'admin_dashboard:service' %}">
        {% csrf_token %}
        <div class="form-section-container border rounded p-0">
          <h4 class="p-3 text-white bg-secondary rounded-top text-center mb-0">Services</h4>

          <div class="wapper p-3 pt-0">
            <div class="row row-cols-lg-5">
              <div class="col-md-3 col-sm-4 mt-3">
                <label for="firstName" class="form-label fw-bold">Search</label>
                <input type="text" class="form-control" name="search" id="search" value="{{ search_text }}" />
              </div>

              <div class="col-md-3 col-sm-4 mt-3 d-flex justify-content-center align-items-center">
                <button class="btn btn-success w-100 mt-4" type="submit">Search</button>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="border rounded mt-4">
        <table id="studentList" class="col-4 table table-striped mb-0" style="width:100%; font-size:14px">
          <thead style="background-color:rgb(0, 135, 253);" class="text-white">
            <tr>
              <th>S.N.</th>
              <th>Image</th>
              <th>Name</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>

          {% if services %}
            <tbody>
              {% for service in services %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>
                    <img src="{{ service.image.url }}" alt="{{ service.name }}" style="width: 50px; height: 50px; border-radius: 50%" />
                  </td>
                  <td>{{ service.name }}</td>
                  <td>{{ service.description }}</td>

                  <td style="position: relative">
                    <button class="no_bg no_outline table_option-menu"><img src="{% static 'admin/img/ic_options.svg' %}" alt="options menu" /></button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          {% else %}
            <tbody>
              <tr>
                <td colspan="10">No Record Found.</td>
              </tr>
            </tbody>
          {% endif %}
        </table>
      </div>
    </div>
  </main>
{% endblock %}

{% block script %}
  <script src="{% static 'admin/js/ActionMenusHandler.js' %}"></script>
{% endblock %}
