<section class="about_section layout_padding-bottom">
  <div class="container">
    <h2 style="text-align: center" class="mb-5">ABOUT US</h2>
    <div class="row">
      <div class="col-lg-6 col-md-6 d-flex justify-content-centre align-items-center">
        <div class="detail-box">
          <h2>Take A Look About Our Companny</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomisedThere are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised</p>
          <a href="/about">Read More</a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="img-box">
          <img src="static/img/about-image.jpg" alt="" />
        </div>
      </div>
    </div>

    <div class="blank mt-5 pt-5"></div>

    <div class="row">
      <h1>Why Choose Us</h1>

      <div class="lists">
        <ul>
          <li>Affordablity</li>
          <li>Affordablity</li>
          <li>Affordablity</li>
          <li>Affordablity</li>
          <li>Affordablity</li>
        </ul>
      </div>
    </div>
  </div>
</section>
