<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

    {% comment %}Employee{% endcomment %}
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href=""><i class="bi bi-menu-button-wide"></i><span>Employee</span><i class="bi bi-chevron-down ms-auto"></i></a>
      <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'admin_dashboard:employee_create' %}"><i class="bi bi-circle"></i><span>Add Employee</span></a>
        </li>
        <li>
          <a href="{% url 'admin_dashboard:employee' %}"><i class="bi bi-circle"></i><span>View Employee</span></a>
        </li>
        <li>
          <a href="{% url 'admin_dashboard:employee_application' %}"><i class="bi bi-circle"></i><span>Employee Verification</span></a>
        </li>
      </ul>
    </li>

    {% comment %}Customer Dropdown{% endcomment %}
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#students-nav" data-bs-toggle="collapse" href=""><i class="bi bi-journal-text"></i><span>Customer</span><i class="bi bi-chevron-down ms-auto"></i></a>
      <ul id="students-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href=""><i class="bi bi-circle"></i><span>Add Customer</span></a>
        </li>
        <li>
          <a href="{% url 'admin_dashboard:customer' %}"><i class="bi bi-circle"></i><span>View Customer</span></a>
        </li>
      </ul>
    </li>

    {% comment %}Services{% endcomment %}
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="">
        <i class="bi bi-layout-text-window-reverse"></i>
        <span>Service</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'admin_dashboard:service_create' %}"><i class="bi bi-circle"></i><span>Add Service</span></a>
        </li>
        <li>
          <a href="{% url 'admin_dashboard:service' %}"><i class="bi bi-circle"></i><span>View Service</span></a>
        </li>
      </ul>
    </li>

    {% comment %}Applicant{% endcomment %}
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#application-nav" data-bs-toggle="collapse" href="">
        <i class="bi bi-file-earmark-pdf"></i>
        <span>Applicants</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="application-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href=""><i class="bi bi-circle"></i><span>View Applicants List</span></a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#messages-nav" data-bs-toggle="collapse" href="">
        <i class="bi bi-layout-text-window-reverse"></i>
        <span>Message</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="messages-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'admin_dashboard:inquiry' %}"><i class="bi bi-circle"></i><span>Unread Message</span></a>
        </li>
        <li>
          <a href="{% url 'admin_dashboard:inquiry_read' %}"><i class="bi bi-circle"></i><span>Read Message</span></a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'admin_dashboard:appointment' %}">
        <i class="bi bi-layout-text-window-reverse"></i>
        <span>Appointments</span>
      </a>
    </li>

    {% comment %}manage site section{% endcomment %}
    <li class="nav-heading">Manage Sites</li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#FAQs" data-bs-toggle="collapse" href="">
        <i class="bi bi-person"></i>
        <span>FAQs</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="FAQs" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'admin_dashboard:faq_create' %}"><i class="bi bi-circle"></i><span>Add FAQs</span></a>
        </li>
        <li>
          <a href="{% url 'admin_dashboard:faq' %}"><i class="bi bi-circle"></i><span>View FAQs</span></a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#blogs" data-bs-toggle="collapse" href="">
        <i class="bi bi-person"></i>
        <span>Blogs</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="blogs" class="nav-content collapse" data-bs-parent="#-nav">
        <li>
          <a href="{% url 'admin_dashboard:blog_create' %}"><i class="bi bi-circle"></i><spasidebarn>Add Blog</spasidebarn></a>
        </li>
        <li>
          <a href="{% url 'blog' %}"><i class="bi bi-circle"></i><span>View Blog</span></a>
        </li>
      </ul>
    </li>

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'logout' %}">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Sign Out</span>
      </a>
    </li>
  </ul>
</aside>
